@mixin getFont($data, $fonts_folder: $fonts_url) {
	@font-face {
		$admitted_formats: (eot, woff, ttf, svg);
		$family: map-get($data, family);
		$formats: map-get($data, formats);
		$filename: if(map-has-key($data, filename), map-get($data, filename), map-get($data, family));
		font: {
			family: #{ inspect($family) };
			style: #{ map-get($data, style) };
			weight: #{ map-get($data, weight) };
		}
	
		$src: "";
	
		@each $format in $admitted_formats {
			@if $format == eot and (null != index($formats, eot)) {
				src: url("#{ $fonts_folder }/#{ $filename }.eot");
				$src: $src + unquote('url("#{ $fonts_folder }/#{ $filename }.eot?#iefix") format("embedded-opentype")');
			}
			@if $format == woff and (null != index($formats, woff)) {
				$src: $src + unquote(', ' + 'url("#{ $fonts_folder }/#{ $filename }.woff") format("woff")');
			}
			@if $format == woff2 and (null != index($formats, woff2)) {
				$src: $src + unquote(', ' + 'url("#{ $fonts_folder }/#{ $filename }.woff2") format("woff2")');
			}
			@if $format == ttf and (null != index($formats, ttf)) {
				$src: $src + unquote(', ' + 'url("#{ $fonts_folder }/#{ $filename }.ttf") format("truetype")');
			}
			@if $format == svg and (null != index($formats, svg)) {
				$src: $src + unquote(', ' + 'url("#{ $fonts_folder }/#{ $filename }.svg##{ $family }") format("svg")');
			}
		}
		src: unquote( do_trim(do_trim($src, ",")) );
	}
}

//ejemplo
//@include getFont((
//	family: "SkodaPro",
//	style: italic,
//	weight: bold,
//	formats: (woff, ttf, svg)
//));

@mixin verticalAlign( $hijo, $alinear: middle) {
    &:before{
        content: "";
        height: 100%;
        vertical-align: $alinear;
        display: inline-block;
    }
    & #{$hijo}{
        vertical-align: $alinear;
        display: inline-block;
    }
}

@mixin resetUl {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin clearfix {
    &:after{
        content: "";
        display: block;
        float: none;
        clear: both;
    }
}

@mixin microClearfix {
    &:after, &:before{
        content: "";
        display: table;
    }
    &:after{
        clear:both;
    }
    &{
        zoom: 1;
    }
}

@mixin transform ($transform...) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	transform: $transform;
}

@mixin transition ($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

@mixin noSelectable {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	* {
		cursor: default;
	}
}

@mixin noHighlight {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	&:focus {
		outline: transparent auto 0;
	}
}

@mixin textOverflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
	   @content;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   @content;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   @content; 
	}

	&:-ms-input-placeholder {  
	   @content;
	}
}

@mixin fitImage ($fit: cover, $position: center center) {
	height: 100%;	
	object-fit: $fit;
	object-position: $position;
	width: 100%;
}

@mixin from($from: sm) {
	@if type_of($from) == "string" {
		@media screen and (min-width: #{ map-get($cortes, $from) }) {
			@content;
		}
	} @else if type_of($from) == "number" {
		@media screen and (min-width: $from) {
			@content;
		}
	}
}

@mixin fromTo($from: sm, $to: lg) {
	@if type_of($from) == "string" and type_of($to) == "string" {
		@media screen and (min-width: #{ map-get($cortes, $from) }) and (max-width: #{ map-get($cortes, $to) - 1 }) {
			@content;
		}
	} @else if type_of($from) == "number" and type_of($to) == "string" {
		@media screen and (min-width: $from) and (max-width: #{ map-get($cortes, $to) - 1 }) {
			@content;
		}
	} @else if type_of($from) == "string" and type_of($to) == "number" {
		@media screen and (min-width: #{ map-get($cortes, $from) }) and (max-width: #{ $to - 1 }) {
			@content;
		}
	} @else if type_of($from) == "number" and type_of($to) == "number" {
		@media screen and (min-width: $from ) and (max-width: #{ $to - 1 }) {
			@content;
		}
	}
}

@mixin to($to: lg) {
	@if type_of($to) == "string" {
		@media screen and (max-width: #{ map-get($cortes, $to) - 1 }) {
			@content;
		}
	} @else if type_of($to) == "number" {
		@media screen and (max-width: #{ $to - 1 }) {
			@content;
		}
	}	
}

@mixin prefix($map, $prefixes: webkit moz) {
	@each $key, $value in $map {
		@each $prefix in $prefixes {
			-#{$prefix}-#{$key}: unquote($value);
		}
		#{$key}: unquote($value);
	}
}

@mixin max($to: lg) {
	max-width: #{ map-get($cortes, $to) };
	margin-left: auto;
	margin-right: auto;
}









