section.home-section {
	@include max;
	background-color: #eee;
	color: $texto;
	
	&.home-section--sliders {
		> div:first-of-type {
			@include to(sm) {
				border-bottom: 5px solid $naranja;
			}
			@include from {
				border-right: 3px solid $naranja;
			}
		}
	}

	&.home-section--white {
		background-color: white;
	}
	&.home-section--black {
		background-color: black;
	}
	&.home-section--text-naranja {
		color: $naranja;
	}
	&.home-section--bold {
		font-weight: bold;
	}
	&.home-section--agendar {
		.home-section_inner {
    		margin-left: auto;
    		margin-right: auto;
			max-width: 500px;
		}
	}

	h2 {
		background-color: $naranja;
		color: white;
		font-size: 24px;
		font-weight: 500;
		margin: 0;
		padding: 15px;
		text-align: center;
	}
	h3 {
		color: $texto;
		font-size: 22px;
		font-weight: 500;
		margin: 0;
		padding: 15px 5px;
	}
	.home-section_inner {
		padding: 15px;
		.form-group {
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
	p {
		font-size: 14px;
		margin: 12px 0;
	}
}