article.mes {
	$ancho: 14.2857%;
	background-color: white;
	border-radius: 6px;
	box-shadow: $input_shadow;
	margin: 10px 0;
	padding: 15px 10px;
	h3 {
		color: #616161;
		font-weight: 500;
		margin: 0 0 12px;
		padding-left: 8px;
		padding-top: 3px;
	}
	ol {
		@include resetUl;
		@include clearfix;
		&.header {
			li {
				color: #90a4ae;
				&:last-of-type {
					color: #e2434d;
				}
			}
		}
		&.body {
			@for $i from 2 through 6 {
				li.dia-#{ $i }:first-of-type {
					margin-left: #{ $ancho * ($i - 1) };
				}
			}
			li.dia-0:first-of-type {
				margin-left: $ancho * 6;
			}
		}
	}
	li {
		border-radius: 4px;
		color: #37474f;
		display: block;
		float: left;
		font-size: 16px;
		font-weight: 500;
		padding: 5px 10px;
		width: $ancho;
		span {
    		border-radius: 4px;
			display: inline-block;
			padding: 5px 7px;
		}
		&.dia-0,
		&.feriado {
			opacity: 0.5;
		}
		&.selected {
			span {
				background-color: $naranja;
				color: white;
			}
		}
		&.disabled {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}

.mes_flechas-wrapper {
	padding-right: 10px;
	text-align: right;
	button {
		margin-right: 10px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}







