.notifier {
	background-color: #1d78d1;
	border-radius: 5px;
	box-shadow: 0 1px 8px rgba(black, 0.65);
	box-sizing: border-box;
	color: white;
	opacity: 0;
	overflow: hidden;
	padding: 20px 15px;
	position: fixed;
	left: 10%;
	text-align: center;
	top: 20px;
	-webkit-transition: opacity 0.25s, width 0.4s, left 0.4s;
	transition: opacity 0.25s, width 0.4s, left 0.4s;
	width: 0;
	z-index: 9999999;

	@include from {
		left: calc(50% - 0px);
		top: 40px;
	}

	&.rojo,
	&.error,
	&.notifier--red {
		background-color: #bc2e2e;
	}

	&.verde,
	&.success,
	&.notifier--green {
		background-color: #219521;
	}

	&.notifier--active {
		opacity: 1;
		width: 80%;

		@include from {
			left: calc(50% - 200px);
			width: 400px;
		}

		p {
			opacity: 1;
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
			-webkit-transition-duration: 0.25s;
			transition-duration: 0.25s;
		}
	}

	&.notifier--pulse {
		-webkit-animation-name: notifier--pulse;
		animation-name: notifier--pulse;
		-webkit-animation-duration: 0.4s;
		animation-duration: 0.4s;
	}

	p {
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		opacity: 0;
		-webkit-transition: opacity 0.001s;
		transition: opacity 0.001s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
}

@-webkit-keyframes notifier--pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.12);
		transform: scale(1.12);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes notifier--pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.12);
		transform: scale(1.12);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}