section.slider {
	height: 400px;
	overflow: hidden;
	
	button.slider_btn {
		@include resetButton;
    	color: white;
		font-size: 30px;
    	line-height: 0;
		position: absolute;
    	top: calc(50% - 15px);
    	z-index: 9999;
		&.slider_btn--left{
	    	left: 0;
		}
		&.slider_btn--right{
			right: 0;
		}
		&:active {
			color: $naranja;
		}
	}
	
	ul.slider_slides {
		@include resetUl;
		height: 100%;
		position: absolute;
		width: 100%;
		li {
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			&::before {
				background: -webkit-linear-gradient(transparent 65%, black);
				background: -o-linear-gradient(transparent 65%, black);
				background: linear-gradient(transparent 65%, black);
				content: "";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 2;
			}
			&.no-gradient::before {
				content: none;
			}
			&.img-contain {
				background-color: #2e2c2d;
				img {
					object-fit: contain;
				}
			}
			&.active {
				display: block;
			}
			.inner {
				cursor: pointer;
				bottom: 20px;
				color: white;
				left: 0;
				outline: none !important;
				padding: 15px;
				position: absolute;
				width: 100%;
				z-index: 3;
				&:active {
					background-color: rgba(white, 0.12);
				}
			}
		}
	}
	
	img {
		@include fitImage(cover);
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	
	.inner {
		h3 {
			color: #fff;
			font-size: 23px;
			margin: 0 0 5px;
			padding: 0;
		}
		p {
			font-size: 18px;
			margin: 0;
		}
	}
	
	ul.slider_pager {
		@include resetUl;
		bottom: 8px;
		height: auto;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
		li {
			$wh: 11px;
			border: 2px solid $naranja;
			border-radius: 50%;
			display: inline-block;
			margin-right: 4px;
			height: $wh;
			width: $wh;
			&:last-of-type {
				margin-right: 0;
			}
			&.active {
				background-color: $naranja;
			}
		}
	}
}