//common region
html {
	height: 100%;
	font-size: 16px;
	@for $i from 6 through 20 {
		&.font-base-#{ $i } {
			font-size: $i * 1px;
		}
	}
}

body {
	font-family: $font1;
	margin: 0;
	height: 100%;

	&.modal-open {
		overflow: hidden;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	position: relative;
}

[v-cloak] {
	visibility: hidden;
}

h1,
h2,
h3 {
	font-family: $font1;
}

nav a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.sr-only {
	position: absolute;
	margin: -1px 0 0 -1px;
	padding: 0;
	display: block;
	width: 1px;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	outline: 0;
}

iframe {
	border: 0px;
	display: block;
	max-width: 100%;
}

a[name] {
	border: none !important;
	display: block;
	outline: none !important;
}

sub,
sup,
.sub,
.sup {
	font-size: 0.85em;
}

//endregion