//colors
.color-white {
	color: white;
}

.background-color-white {
	background-color: white;
}

.color-black {
	color: white;
}

.background-color-black {
	background-color: white;
}

@each $color in $colors {
	$i: index($colors, $color);

	.color-#{ $i } {
		color: $color;
	}
	
	.background-color-#{ $i } {
		background-color: $color;
	}
}