//floats
.clear-after {
	@include clearfix;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

[class^=float-],
[class^=sm-float-],
[class^=md-float-],
[class^=lg-float-],
[class*=' float-'],
[class*=' sm-float-'],
[class*=' md-float-'],
[class*=' lg-float-'] {
	min-height: 1px;
	float: left;
	width: 100%;
	.float-inner {
		padding: 15px;
	}
}

@for $i from 0 to 12 {
	.float-#{$i + 1} {
		width: ($i + 1) * 100% / 12 !important;
	}
}

@for $i from 0 to 10 {
	.padding-#{($i + 1) * 10} {
		padding: ($i + 1) * 10px;
	}
}