//fonts and texts
@each $alineacion in $alineaciones {
	.text-#{$alineacion} {
		text-align: $alineacion;
	}
}

.font-italic {
	font-style: italic !important;
}

@for $i from 8 through 36 {
	.font-#{$i} {
		font-size: 1px * $i !important;
	}
}

@for $i from 1 through 20 {
	.font-#{  str-replace(inspect($i / 2), ".", "-")  }-em {
		font-size: #{ $i / 2 }em !important;
	}
}

@for $i from 1 through 9 {
	.font-weight-#{$i * 100} {
		font-weight: $i * 100 !important;
	}
}

@for $i from 0 through 3 {
	.line-height-#{$i} {
		line-height: $i !important;
	}
}