//images
img {
	&.img-cover {
		height: 100%;
		object-fit: cover;
		object-position: center center;
		width: 100%;
	}
	&.img-fluid {
		display: block;
		height: auto;
		max-width: 100%;
		width: auto;
	}
}