//margins
@each $side in $sides {
	.margin-#{ $side }-0,
	.no-margin-#{ $side } {
		margin-#{ $side }: 0 !important;
	}
}

@for $i from 1 through 10 {
	@each $side in $sides {
		.margin-#{ $side }-#{ $i * 10 } {
			margin-#{ $side }: #{ $i * 10px } !important;
		}
	}
}