//visibility
.hidden {
	display: none !important;
}

.visible-block {
	display: block !important;
}

.visible-inline {
	display: inline !important;
}

.visible-inline-block {
	display: inline-block !important;
}

@each $key,
$value in $cortes {
	@media screen and (min-width: $value) {
		@for $i from 0 to 12 {
			.#{$key}-float-#{$i + 1} {
				width: ($i + 1) * 100% / 12 !important;
			}
		}

		.#{$key}-hidden {
			display: none !important;
		}

		.#{$key}-visible,
		.#{$key}-visible-block {
			display: block !important;
		}

		.#{$key}-visible-inline {
			display: inline !important;
		}

		.#{$key}-visible-inline-block {
			display: inline-block !important;
		}

		@each $alineacion in $alineaciones {
			.#{$key}-text-#{$alineacion} {
				text-align: $alineacion;
			}
		}
	}
}