<style>
	body {
		margin: 0;
		padding: 0;
	}

	h2,
	h3,
	p,
	td,
	th {
		font-family: Trebuchet, Trebuchet MS, Arial, sans-serif;
	}

	td {
		padding: 4px;
	}

</style>


<center bgcolor="#757575" style="display:block;background-color:#757575;padding-top:25px;padding-bottom:25px;padding-right:15px;padding-left:15px;">
	<table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="750">
		<tbody>
			<tr>
				<td align="center" style="font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:15px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
					<h1 style="text-align:center;">
						<img src="http://admin.emma.cl/imgempresas/573_subidas1020.gif" alt="Luft Car Wash" style="display:inline-block;margin-top:12px;margin-bottom:3px;margin-right:3px;margin-left:3px;">
					</h1>
				</td>
			</tr>
			<tr>
				<td align="center" style="text-align:center;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
					<h2 style="color:#222222;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif; font-size: 21px;">
						Nueva Reserva de Hora
					</h2>
					<hr style="display:block;max-width:55%;width:55%;margin-top:10px;margin-bottom:10px;margin-right:auto;margin-left:auto;">
				</td>
			</tr>
			<tr>
				<td style="padding-top:25px;padding-bottom:25px;padding-right:40px;padding-left:40px;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;font-size: 15px;">
					<p style="font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;font-size: 15px;">
						Estimado Administrador,
						<br>
						<br>
						Se ha realizado una nueva reserva de hora para servicio. A continuación los detalles:
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding-top:25px;padding-bottom:55px;padding-right:40px;padding-left:40px;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;">
					<table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="500">
						<tbody>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Nombre cliente:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">[[nombre]]</td>
							</tr>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Fecha y hora:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">[[fecha]] [[hora]]</td>
							</tr>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Teléfono:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">[[telefono]]</td>
							</tr>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Servicio:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">[[servicio]]</td>
							</tr>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Patente vehículo:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">[[patente]]</td>
							</tr>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Monto:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">$10.000 ($2.000 reserva y $8.000 abono)</td>
							</tr>
							<tr>
								<th align="left" style="vertical-align: top; text-align:left;font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">
									<strong>Número transacción:</strong>
								</th>
								<td style="vertical-align: top; font-family:Trebuchet, Trebuchet MS, Arial, sans-serif;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;font-size: 15px;">[[oc]]</td>
							</tr>
						</tbody>
					</table>
					<br>
					<hr>
					<p style="text-align: center; padding: 30px 0 0; font-size: 14px;">Atentamente,<br>Equipo Luft Car Wash.</p>
				</td>
			</tr>
		</tbody>
	</table>
</center>


















