.btn {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 1px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: $font2;
	font-size: 1.125rem;
	font-weight: 400;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	outline: none !important;
	padding: 10px 18px;

	+ .btn {
		margin-left: 8px;

		&.btn-block {
			margin-left: 0;
			margin-top: 10px;
		}
	}
	
	&.btn-lg {
		padding: 15px 22px;
		@include from {
			padding: 20px 25px;
			max-width: 48%;
		}
	}
	
	&.btn-extra-margin {
		+ .btn {
			@include from {
				margin-left: 10px;
			}
		}
	}

	&.btn-inactive {
		opacity: 0.6;
		font-weight: normal;
	}

	&.btn-no-tt {
		text-transform: none;
	}
	
	&.btn-upper {
		text-transform: uppercase;
	}


	&.btn-block {
		display: block;
		width: 100%;
	}

	&.btn-rounded {
		border-radius: 20px;
	}

	&.btn-disabled {
		-webkit-filter: grayscale(0.5);
		filter: grayscale(0.5);
		pointer-events: none;
	}

	&.btn-circle,
	&.btn-round {
		$wh: 110px;
		border-radius: 50%;
		font-size: 1.375rem;
		height: $wh;
		line-height: 1.2;
		padding-top: 17px;
		text-decoration: none;
		width: $wh;

		&::after {
			border: 1px solid white;
			border-radius: 50%;
			content: "";
			display: block;
			height: calc(100% - 8px);
			left: 4px;
			position: absolute;
			top: 4px;
			width: calc(100% - 8px);
		}
	}

	&.btn-primary {
		background-color: $color1;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: lighten($color1, 3%);
		}

		&:active {
			background-color: darken($color1, 3%);
		}
	}

	&.btn-ghost {
		border: 1px solid $color1;
		background-color: white;
		color: $color1;
		cursor: pointer;

		&:hover {
			border-color: lighten($color1, 3%);
		}

		&:active {
			border-color: darken($color1, 3%);
		}
	}

	//
	&.btn-cargando,
	&.btn-loading {
		background: {
			blend-mode: luminosity;
			image: url(/wp-content/themes/playground/assets/img/loading.gif);
			position: 94% center;
			repeat: no-repeat;
			size: auto 65%;
		}

		cursor: not-allowed;
		opacity: 0.8;
		padding-right: 50px;
		pointer-events: none;
		img.img-icono {
			display: none !important;
		}
	}

	@include from {
		&.sm-btn-inline-block {
			display: inline-block;
			width: auto;
		}

		&.sm-btn-block {
			display: block;
		}
	}

	@include from(md) {
		&.md-btn-inline-block {
			display: inline-block;
			width: auto;
		}

		&.md-btn-block {
			display: block;
		}
	}

	@include from(lg) {
		&.lg-btn-inline-block {
			display: inline-block;
			width: auto;
		}

		&.lg-btn-block {
			display: block;
		}
	}
	

}

a.btn {
	text-decoration: none;
}

@each $color in $colors {
	.btn-color-#{index($colors, $color)} {
		background-color: $color;

		&:focus,
		&:hover {
			background-color: darken($color, 7%);
		}

		&:active {
			background-color: lighten($color, 7%);
		}
	}
}