.form-group {
	&.separador_abajo {
		border-bottom: 1px solid $color2;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	&.tight-group {
		@include clearfix;
		margin: 15px 0;

		.control-label,
		.input-group {
			@extend .sm-float-6;
			float: left;
			width: 100%;
		}

		.control-label {
			line-height: 2.2;
			text-align: left;
		}

		.input-group {
			&.form-input-group {
				@include clearfix;

				input {
					float: left;
					width: calc(100% - 40px);
					&[type=radio],
					&[type=checkbox] {
						width: auto;
					}
				}

				.form-group-addon {
					background-color: lighten($color2, 30%);
					color: white;
					float: left;
					font-size: 1.1875rem;
					height: 40px;
					line-height: 1.4;
					padding-bottom: 9px;
					padding-top: 9px;
					text-align: center;
					width: 40px;
					@at-root html.font-base-14 .form-group-addon {
						height: 37px !important;
					}
				}
			}
		}

		input {
			margin: 0 !important;
		}
	}

	.mensaje-error {
		border: 1px solid $color2;
		border-top: none;
		background-color: lighten($color2, 30%);
		clear: both;
		padding: 10px 5px;
		color: white;

		p {
			margin: 0;
			max-width: none;
			padding: 0;
			text-align: center;
		}
	}

	sub {
		display: block;
		font-size: 0.75rem;
		line-height: 1;
	}
}

input[type=text],
input[type=number],
input[type=email],
input[type=date],
input[type=tel],
input[type=password],
input[type=search],
select,
textarea {
	&.form-control {
		background-color: $color2;
		border: 2px solid transparent;
		color: white;
		display: block;
		font-size: 0.9375rem;
		margin: 15px 0;
		padding: 9px 12px;
		-webkit-transition: border-color 0.15s;
		transition: border-color 0.15s;
		width: 100%;

		@include placeholder {
			color: #b3b3b3;
		}

		&:focus {
			border: 2px solid lighten($color2, 30%) !important;
			outline: none !important;
		}

		&.form-control--no-margin {
			margin: 0;
		}
	}
}

input[type=date] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	min-height: 1.5em; 
	border-radius: 0;
}

select.form-control {
	-webkit-appearance: none;
	appearance: none;
	background: url(#{ $theme_url }/assets/img/select-arrow.gif) 100.9% center/auto 39px no-repeat #2e3542;
	border-radius: 0;
	height: 39px;
	margin: 0;
}

textarea.form-control {
	min-height: 100px;
	max-height: 250px;
	resize: vertical;
}

label.control-label {
	line-height: 2.4;
}