table.table {
	border-collapse: collapse;
	margin: 15px auto;
	max-width: 100%;
	width: 100%;

	@include fromTo(sm, md) {
		max-width: 650px;
	}

	@include fromTo(md, lg) {
		max-width: 700px;
	}

	@include from(lg) {
		max-width: 750px;
	}

	thead th {
		border-bottom: 2px solid #aaa;
		font-size: 0.75rem;
		letter-spacing: -0.2px;
		padding: 12px 2px;

		@include from {
			font-size: 0.9375rem;
			letter-spacing: 0;
			padding: 14px 8px;
		}
	}

	tbody {
		tr:last-of-type td {
			border-bottom: none;
		}

		td {
			border-bottom: 1px solid #ddd;
			font-size: 0.71875rem;
			letter-spacing: -0.4px;
			padding: 12px 2px;

			@include from {
				font-size: 0.875rem;
				letter-spacing: 0;
				padding: 12px 8px;
			}
		}
	}

	tfoot td,
	tfoot th {
		border-top: 2px solid #aaa;
		font-size: 0.75rem;
		padding: 14px 2px;
		@include from {
			font-size: 0.9375rem;
			padding: 14px 8px;
		}
	}

	th,
	td {
		text-align: center;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	//alineaciones
	$alineaciones: left center right;

	@for $i from 2 to 15 {
		@each $alinear in $alineaciones {
			&.table--#{$i}-#{$alinear} {

				td:nth-child(#{$i}),
				th:nth-child(#{$i}) {
					text-align: $alinear !important;
				}
			}
		}
	}
}
