footer.main-footer {
	background-color: $color2;
	color: white;
	font-family: $font1;
	padding: 40px 10px;

	@media screen and (min-width: #{ map-get($cortes, sm) }) {
		padding: 50px 15px;
	}

	img.logo {
		margin: 0;
		max-width: 90%;

		@media screen and (min-width: 400px) {
			max-width: 100px;
		}

		@media screen and (min-width: #{ map-get($cortes, sm) }) {
			max-width: 150px;
		}
	}

	p {
		font-size: 0.8125rem;
		margin: 0;
	}
}