header.main-header {
	@include from {
		padding: 20px 5px 0;
		&.main-header--minimal {
			padding: 10px 5px;
		}
		&.main-header--landing {
			padding: 41px 5px;
			.logo-anchor--gpi {
				margin-left: 25px;
			}
			.wrapper-logos {
				padding-left: 200px;
				@media screen and (min-width: 1400px) {
					padding-left: 170px;
				}
			}
		}
	}
	
	@include to(sm) {
		&.main-header--landing {
			padding-top: 35px;
			text-align: center;
			.logo-anchor {
				display: inline-block;
				float: none !important;
				padding: 5px;
				img {
					max-height: 48px;
					max-width: none;
				}
				&.logo-anchor--gpi {
					margin-left: 10px;
				}
			}
		}
	}

	.btn-menu {
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		border: none;
		cursor: pointer;
		height: 40px;
		right: 5px;
		top: 10px;
		outline: none !important;
		padding: 0;
		position: absolute;
		width: 40px;
		z-index: 10000;

		&.active {
			position: fixed;
		}

		img {
			display: none;
			height: auto;
			max-height: 100%;
			width: 100%;

			&.active {
				display: block;
			}
		}
	}

	.logo-anchor {
		@media screen and (max-width: #{ map-get($cortes, sm) - 1 }) {
			display: block;
			padding: 10px;

			img {
				display: block;
				margin: auto;
				max-width: 150px;
				padding: 12px 0px;
			}
		}
	}

	.nav-botones {
		@media screen and (min-width: #{ map-get($cortes, sm) }) {
			padding: 22px 0;
		}

		@media screen and (max-width: #{ map-get($cortes, sm) - 1 }) {
			background-color: $color2;
			height: 100%;
			overflow: hidden;
			-webkit-transition: width 0.4s;
			transition: width 0.4s;
			padding-top: 60px;
			position: fixed;
			right: 0;
			top: 0;
			width: 0;
			z-index: 9999;

			&.active {
				box-shadow: -4.5px 0px 10px 4px rgba(0, 0, 0, 0.25);
				width: 65%;
			}
		}

		a {
			border-right: 1px solid $color2;
			color: $color2;
			display: inline-block;
			font-family: $font1;
			font-size: 0.8125rem;
			height: 20px;
			line-height: 1;
			padding: 2px 10px;
			text-decoration: none !important;
			text-transform: uppercase;

			&:hover {
				color: $color1;
				font-style: italic;
			}

			&:nth-last-of-type(2),
			&:last-of-type {
				border-right: none;
			}

			@media screen and (max-width: #{ map-get($cortes, sm) - 1 }) {
				color: white;
				display: block;
				float: none;
				font-size: 1.0625rem;
				padding: 17px 5px;
				text-align: center;
				width: 100%;

				&:nth-last-of-type(2),
				&:last-of-type {
					float: left;
					text-align: center;
					width: 50%;
					margin-top: 20px;

					img {
						filter: brightness(100);
						display: inline-block;
					}
				}
			}

			img {
				display: block;
				max-height: 21px;
				max-width: 100%;
			}
		}
	}
}