nav.main-nav {
	background-color: $color2;
	z-index: 10;

	@media screen and (max-width: #{ map-get($cortes, sm) - 1 }) {
		box-shadow: none;
		height: 100%;
		right: 0;
		top: 0;
		overflow: hidden;
		padding-top: 70px;
		position: fixed;
		-webkit-transition: width 0.3s;
		transition: width 0.3s;
		width: 0;
		z-index: 10000;

		&.active {
			box-shadow: -4px -2px 14px 1px rgba(black, 0.42);
			width: 70%;

			a {
				opacity: 1;
				-webkit-transition-delay: 0.25s;
				transition-delay: 0.25s;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
			}
		}
	}

	@media screen and (min-width: #{ map-get($cortes, sm) }) {
		align-content: stretch;
		align-items: stretch;
		display: flex;
		justify-content: space-between;
	}

	a {
		color: white;
		display: inline-block;
		font-size: 0.875rem;
		flex-grow: 1;
		padding: 16px 4px;
		text-align: center;
		text-decoration: none !important;

		@media screen and (max-width: #{ map-get($cortes, sm) - 1 }) {
			display: block;
			opacity: 0;
			-webkit-transition: opacity 0.05s;
			transition: opacity 0.05s;
		}

		&:hover {
			&.active {
				background-color: darken($color1, 10%);
			}

			background-color: darken($color2, 10%);
		}

		&.active {
			background-color: $color1;
			font-weight: bold;
		}

		&:last-of-type {
			font-family: $font2;
			background-color: $color1;
			padding: 15px;
			display: block;

			@media screen and (min-width: #{ map-get($cortes, sm) }) {
				font-size: 1rem;
				font-weight: bold;
				position: absolute;
				top: 100%;
				right: 0;
			}

			img,
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}